$minimum-application-width: 1000px;

$neutral-gray: #b7bfc3;
$light-gray: #cfd6d9;
$very-light-gray: #eff3f3;
$turquoise-blue: #01afd1;
$dark-blue: #004b68;
$darkest: #323b3f;
$dark-gray: #7c8388;
$bluish-gray: #72848c;
$redish-orange: #fe7550;
$amber: #fab32b;
$red: #d03d3c;

$border-color7: $amber;
$border-color10: $red;
$border-color12: $redish-orange;


/* Textures */
$images-folder-name: "../icons";
